Q1.Create one variable containing following type of data:

(i) string

In [10]:
a=("hello world")

In [11]:
type(a)

str

(ii) list

In [7]:
b=[1,2,3,4,"ishwar",True,55.66]

In [23]:
type(b)

list

(iv) tuple

In [24]:
c=(1,2,3,"god")

In [25]:
type(c)

tuple

(iii) float

In [28]:
d=123.456

In [29]:
type(d)

float

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

In [1]:
var1=''

In [3]:
type(var1)

str

In [5]:
var2='[DS,ML,Python]'

In [6]:
type(var2)

str

In [7]:
var3=['DS','ML','Python']

In [8]:
type(var3)

list

In [11]:
var4=1.

In [12]:
type(var4)

float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

/the oerator is known as divison operator in python programing language it used to divide one number by another quotient
for EX:

In [13]:
12/5

2.4

%: this operater is known as modulus operator and this is used to calculate reminder of divison
for EX

In [14]:
8%4

0

// the operator is known as floor devison operator for Example

In [15]:
5//2

2

** this operator is known as exponent operator which is used to caculate power of numbers

In [1]:
5**2

25

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [2]:
my_list=[1,2,3,4,5,("ishwar"),23.66j,True,123,(6,7,8)]
for i in my_list:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
ishwar
<class 'str'>
23.66j
<class 'complex'>
True
<class 'bool'>
123
<class 'int'>
(6, 7, 8)
<class 'tuple'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [2]:
A=28
B=2
count=0
while A%B== 0:
    A=A/B
    count+=1
if count>0:
    print(f"the number A divisible by B,andit can be divided by {count} times.")
else:
    ("the number A is not divisible B")

the number A divisible by B,andit can be divided by 2 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [27]:
a= [2, 7, 9, 12, 16, 18, 22, 27, 30, 33, 36, 40, 44, 48, 51, 55, 59, 62, 65, 68, 71, 75, 78, 81, 84]
for i in a:
    if i%3==0:
        print(f"(i)is divisible by 3")
    else:
        print(f"(i)is not divisible by 3")

(i)is not divisible by 3
(i)is not divisible by 3
(i)is divisible by 3
(i)is divisible by 3
(i)is not divisible by 3
(i)is divisible by 3
(i)is not divisible by 3
(i)is divisible by 3
(i)is divisible by 3
(i)is divisible by 3
(i)is divisible by 3
(i)is not divisible by 3
(i)is not divisible by 3
(i)is divisible by 3
(i)is divisible by 3
(i)is not divisible by 3
(i)is not divisible by 3
(i)is not divisible by 3
(i)is not divisible by 3
(i)is not divisible by 3
(i)is not divisible by 3
(i)is divisible by 3
(i)is divisible by 3
(i)is divisible by 3
(i)is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

in mutable data type the data can be changed and modified for exanple variable is list

In [7]:
h=[1,2,3,4,5,"xyz"]

In [8]:
h[5]="abc"

In [9]:
h

[1, 2, 3, 4, 5, 'abc']

in imutable data type the data type can't be changed  or modified for example variable is string

In [10]:
s=("hello world")

In [11]:
s[1]=hi

NameError: name 'hi' is not defined